@media screen and (max-width: 768px) {
  .intro {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .header .navbar-menu {
    display: none !important;
  }
  .header .navbar-options__menu {
    display: inline-block;
  }
  .header-arrows {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-pictures img {
    position: relative;
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-pictures img:first-child {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .purchase {
    text-align: center;
  }
  .purchase .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .video-text h2, .video-text p {
    display: none;
  }
  .video-text img {
    margin-bottom: 0;
    width: 12.5vw;
  }
}

@media screen and (max-width: 768px) {
  .stat-main__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 576px) {
  .stat-main__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media screen and (max-width: 400px) {
  .stat-main__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}

@media screen and (max-width: 576px) {
  .footer-main__item-pics img {
    padding: 0 5px 5px 0;
    max-width: 125px;
  }
}

@media screen and (max-width: 992px) {
  .footer .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
