@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #8c8c8c;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

p {
  line-height: 24px;
}

img[src$=".svg"]:hover {
  -webkit-filter: invert(0.5) sepia(1) hue-rotate(-15deg);
          filter: invert(0.5) sepia(1) hue-rotate(-15deg);
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

button {
  background-color: #998675;
  color: #fff;
  border-radius: 3px 3px 0 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

button::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 0 0 3px 3px;
  background-color: #736357;
  position: absolute;
  bottom: -3px;
  left: 0;
}

button:hover {
  background-color: #362f2d;
  color: #c7b299;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

button:hover::after {
  display: none;
}

.intro {
  text-align: center;
  max-width: 65%;
  margin: 0 auto;
}

.intro h2 {
  font-size: 30px;
  font-weight: 600;
  color: #555;
}

.intro p {
  margin: 20px 0 35px 0;
}

.header {
  max-height: 100%;
  padding-bottom: 30%;
  background: url("../images/intro.jpg") center/cover fixed no-repeat;
  color: #fff;
  position: relative;
}

.header .navbar {
  padding-top: 40px;
}

.header .navbar-menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.header .navbar-menu__link:hover {
  color: #c7b299;
}

.header .navbar-options__menu {
  height: 20px;
  width: 22px;
  position: relative;
  display: none;
  cursor: pointer;
}

.header .navbar-options__menu span, .header .navbar-options__menu::before, .header .navbar-options__menu::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.header .navbar-options__menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .navbar-options__menu::before {
  top: 0;
}

.header .navbar-options__menu::after {
  bottom: 0;
}

.header .navbar-options__cart, .header .navbar-options__search {
  cursor: pointer;
}

.header-content {
  margin-top: calc(10% + 7.5vw);
  text-align: center;
  position: relative;
}

.header-content h2 {
  font-size: calc(16px + 10 * (100vw/1180));
}

.header-content h1 {
  font-size: calc(24px + 14 * (100vw/1180));
  font-weight: 800;
}

.header-content p {
  font-weight: 300;
  margin: 15px 0 35px 0;
  font-size: calc(12px + 2 * (100vw/1180));
}

.header-content button {
  padding: 16px 36px;
}

.header-arrows {
  cursor: pointer;
}

.header-arrows__left, .header-arrows__right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-arrows__left {
  left: 8vw;
}

.header-arrows__right {
  right: 8vw;
}

.header-dots {
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-dots__item {
  width: 11px;
  height: 11px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.header-dots__item:hover {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 2px solid #c7b299;
}

.service {
  padding: 80px 0 110px;
}

.service-item {
  position: relative;
}

.service-item:hover h3 {
  color: #c7b299;
}

.service-item:hover::before {
  background-color: #c7b299;
  width: 70px;
}

.service-item:hover img {
  -webkit-filter: invert(0.5) sepia(1) hue-rotate(-15deg);
          filter: invert(0.5) sepia(1) hue-rotate(-15deg);
}

.service-item::before {
  content: '';
  display: block;
  width: 0px;
  height: 3px;
  background-color: rgba(153, 134, 117, 0.3);
  position: absolute;
  bottom: -24px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.service-item::after {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background-color: rgba(153, 134, 117, 0.3);
  position: absolute;
  bottom: -24px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.service-item__icon {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.service-item h3 {
  font-size: 22px;
  font-weight: 600;
  color: #555;
  margin: 25px 0 12px 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.service-item p {
  font-size: 14px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.portfolio {
  background-color: #fbfaf8;
  padding-top: 80px;
}

.portfolio-pictures {
  position: relative;
  min-height: 505px;
  max-height: 100%;
}

.portfolio-pictures img {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .portfolio-pictures img {
    position: relative;
    margin: 0 auto 20px;
  }
}

.portfolio-pictures img:first-child {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .portfolio-pictures img:first-child {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.portfolio-pictures img:nth-child(2) {
  left: 0;
}

.portfolio-pictures img:last-child {
  right: 0;
}

.purchase {
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 50px 0 36px 0;
}

.purchase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purchase .container h2 {
  color: #fff;
  font-size: 26px;
}

.purchase .container h2 span {
  color: #c7b299;
}

.purchase .container button {
  padding: 16px 36px;
}

.project {
  padding: 80px 0;
}

.project-filter {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-filter__item {
  padding: 10px 25px;
  padding: 1% 3.2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: white;
  color: #8c8c8c;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin: 0 5px 8px;
}

.project-filter__item::after {
  display: none;
}

.project-filter__item:hover {
  background-color: #998675;
  color: #fff;
  border: none;
}

.project-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  position: relative;
  max-width: 370px;
}

.project-content__item::before, .project-content__item::after {
  display: none;
}

.project-content__item:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.project-content__item:hover .project-content__theme {
  background-color: #362f2d;
}

.project-content__item:hover .project-content__theme::before {
  border-bottom-color: #362f2d;
}

.project-content__item:hover::before, .project-content__item:hover::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30%;
  z-index: 1;
  cursor: pointer;
}

.project-content__item:hover::before {
  left: 38%;
  background: url("../images/link.svg") center/cover;
}

.project-content__item:hover::after {
  left: 53%;
  background: url("../images/lupa.svg") center/cover;
}

.project-content__theme {
  background-color: #fbfaf8;
  width: 100%;
  padding: 10px;
  padding: 8% 0 4% 8%;
  position: relative;
}

.project-content__theme h4 {
  font-size: calc(10px + 5 * (100vw/1200));
  font-weight: 500;
  color: #c7b299;
}

.project-content__theme p {
  color: #d1d1d1;
}

.project-content__theme::before {
  content: '';
  height: 10px;
  width: 30px;
  border-bottom: 10px solid #fbfaf8;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  display: block;
  position: absolute;
  top: -10px;
  left: 20px;
}

.project-button {
  padding: 18px 40px 15px;
  font-size: 15px;
}

.video {
  color: #fff;
  width: 100%;
  max-width: 1920px;
}

.video .row {
  position: relative;
}

.video .row video {
  padding: 0;
}

.video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-text img {
  margin-bottom: 42px;
  cursor: pointer;
}

.video-text h2 {
  font-size: 30px;
  font-weight: 500;
}

.video-text p {
  font-weight: 300;
  max-width: 560px;
  margin: 22px 0 32px 0;
}

.video-text p:last-child {
  font-size: 14px;
  font-weight: 700;
  color: #c7b299;
  margin-bottom: 0;
}

.mobile {
  padding-top: 40px;
}

.mobile-img {
  float: left;
}

.mobile-content {
  margin-top: 10%;
}

.mobile-content h2 {
  font-size: 30px;
  font-weight: 600;
  color: #555;
}

.mobile-content__text {
  margin: 20px 0 30px 0;
  font-weight: 400;
}

.mobile-points {
  padding-left: 7%;
}

.mobile-points__item img {
  margin-right: 10px;
}

.mobile-points__item p {
  margin-bottom: 7px;
}

.stat {
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 60px 0 85px 0;
}

.stat-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.stat-main__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.stat-main__item img:hover {
  -webkit-filter: none;
          filter: none;
}

.stat-main__item h1 {
  font-size: 48px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-top: 20px;
}

.stat-main__item p {
  color: #c7b299;
  font-size: 14px;
  position: relative;
}

.stat-main__item p::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.post {
  padding: 80px 0;
}

.post-content {
  width: 100%;
  margin: 0;
}

.post-content__date {
  position: absolute;
  top: 20px;
  left: 35px;
  width: 50px;
  height: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#363636), color-stop(58%, #363636), color-stop(58%, #000), to(#000));
  background: linear-gradient(to bottom, #363636 0%, #363636 58%, #000 58%, #000 100%);
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0;
}

.post-content__date span {
  font-size: 22px;
}

.post-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  position: relative;
  max-width: 370px;
}

.post-content__item:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.post-content__item:hover .post-content__text {
  background-color: #362f2d;
  color: #c7b299;
  border: 1px solid #362f2d;
}

.post-content__item:hover p {
  color: #fff;
}

.post-content__item:hover h4 {
  color: #c7b299;
}

.post-content__item img {
  width: 100%;
}

.post-content__text {
  border: 1px solid #f8f8f8;
  padding: 25px;
}

.post-content__text h4 {
  font-size: 18px;
  color: #555;
  font-weight: 500;
}

.post-content__text p {
  margin: 12px 0 18px 0;
  font-size: 13px;
}

.post-content__text a {
  font-size: 15px;
  position: relative;
  color: #c7b299;
}

.post-content__text a::after {
  content: '';
  display: block;
  height: 8px;
  width: 5px;
  position: absolute;
  top: 5px;
  right: -15px;
  border-top: 5px solid transparent;
  border-left: 8px solid #c7b299;
  border-bottom: 5px solid transparent;
}

.post-arrows {
  width: 50px;
  margin: 10px auto 0;
}

.partner {
  background: url("../images/partner.jpg") center/cover no-repeat;
  padding: 5vw 0;
}

.partner__img {
  padding: 25px;
}

.footer {
  background-color: #101010;
  color: #444;
  font-weight: 600;
  font-size: 14px;
}

.footer .container {
  max-width: 1250px;
}

.footer-main {
  padding: 80px 0;
}

.footer-main__item a {
  color: #fff;
  position: relative;
}

.footer-main__item a::after {
  content: '';
  display: block;
  height: 5px;
  width: 5px;
  position: absolute;
  top: 5px;
  right: -15px;
  border-top: 5px solid transparent;
  border-left: 5px solid white;
  border-bottom: 5px solid transparent;
}

.footer-main__item p {
  padding-bottom: 17px;
  line-height: 20px;
}

.footer-main__item p span {
  font-size: 12px;
  color: #2a2a2a;
}

.footer-main__item h3 {
  color: #fff;
  font-size: 24px;
  margin: 18px 0;
}

.footer-main__item-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-main__item-pics img {
  padding: 0 10px 10px 0;
  max-width: 130px;
}

.footer-main__item:nth-child(2) p:nth-of-type(1), .footer-main__item:nth-child(2) p:nth-of-type(2), .footer-main__item:nth-child(3) p:nth-of-type(1), .footer-main__item:nth-child(3) p:nth-of-type(2) {
  border-bottom: 1px solid #2a2a2a;
}

.footer-main__item:first-child img {
  margin-bottom: 25px;
}

.footer-bottom {
  background-color: #000;
  padding: 40px 0;
}

.footer-bottom p {
  margin-bottom: 0px;
  padding: 0 15px;
}

.footer-bottom .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
