@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #8c8c8c;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

p {
  line-height: 24px;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

button {
  background-color: #998675;
  color: #fff;
  border-radius: 3px 3px 0 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

button::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 0 0 3px 3px;
  background-color: #736357;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.intro {
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

.intro h2 {
  font-size: 30px;
  font-weight: 600;
  color: #555;
}

.intro p {
  margin: 22px 0 32px 0;
}

.container {
  max-width: 1250px;
}

.header {
  height: 100%;
  background: url("../images/intro.jpg") center/cover fixed no-repeat;
  color: #fff;
  position: relative;
}

.header .navbar {
  padding-top: 40px;
}

.header .navbar-menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.header .navbar-options__menu {
  height: 20px;
  width: 22px;
  position: relative;
  display: none;
  cursor: pointer;
}

.header .navbar-options__menu span, .header .navbar-options__menu::before, .header .navbar-options__menu::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.header .navbar-options__menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .navbar-options__menu::before {
  top: 0;
}

.header .navbar-options__menu::after {
  bottom: 0;
}

.header-content {
  text-align: center;
  position: relative;
  margin-top: calc(150px + 50 * (100vw/1180));
}

.header-content h2 {
  font-size: calc(16px + 10 * (100vw/1180));
}

.header-content h1 {
  font-size: calc(24px + 14 * (100vw/1180));
  font-weight: 800;
}

.header-content p {
  font-weight: 300;
  margin: 15px 0 42px 0;
}

.header-content button {
  padding: 16px 36px;
}

.header-arrows__left, .header-arrows__right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-arrows__left {
  left: 8vw;
}

.header-arrows__right {
  right: 8vw;
}

.header-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-dots__item {
  width: 11px;
  height: 11px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
}

.service {
  padding: 80px 0 110px;
}

.service-item {
  position: relative;
}

.service-item:hover h3 {
  color: #c7b299;
}

.service-item:hover::after {
  background-color: #c7b299;
}

.service-item::after {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background-color: rgba(153, 134, 117, 0.3);
  position: absolute;
  bottom: -24px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.service-item__icon {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.service-item h3 {
  font-size: 22px;
  font-weight: 600;
  color: #555;
  margin: 25px 0 12px 0;
}

.service-item p {
  font-size: 14px;
}

.portfolio {
  background-color: #fbfaf8;
  padding-top: 80px;
}

.portfolio-pictures {
  position: relative;
  min-height: 505px;
  max-height: 100%;
}

.portfolio-pictures img {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .portfolio-pictures img {
    position: relative;
    margin: 0 auto 20px;
  }
}

.portfolio-pictures img:first-child {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .portfolio-pictures img:first-child {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.portfolio-pictures img:nth-child(2) {
  left: 0;
}

.portfolio-pictures img:last-child {
  right: 0;
}

.purchase {
  background: -webkit-gradient(linear, left top, right top, from(#211b19), color-stop(50%, #3a2921), to(#4e3427));
  background: linear-gradient(to right, #211b19 0%, #3a2921 50%, #4e3427 100%);
  padding: 50px 0 36px 0;
}

.purchase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purchase .container h2 {
  color: #fff;
  font-size: 26px;
}

.purchase .container h2 span {
  color: #c7b299;
}

.purchase .container button {
  padding: 16px 36px;
}
