@import "mixins.sass"

.intro
    @include tablets
        width: 100%

//HEADER>>>

.header
    @include laptop
        .navbar
            &-menu
                display: none!important
            &-options
                &__menu
                    display: inline-block
        &-arrows
            display: none

//PORTFOLIO>>>

.portfolio-pictures
    img
        @include tablets
            position: relative
            margin: 0 auto 20px
        &:first-child
            @include tablets
                left: 0
                transform: translateX(0)

//PURCHASE>>>

.purchase
    @include tablets
        text-align: center
        .container
            flex-direction: column

//PROJECT>>>

//VIDEO>>>

.video
    @include laptop
        &-text
            h2,p
                display: none
            img
                margin-bottom: 0
                width: 12.5vw

//STAT>>>

.stat-main__item
    @include tablets
        flex: 0 0 33%
        margin: 20px 0
    @include phones
        flex: 0 0 40%
    @include xsphones
        flex: 0 0 90%
