@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap')
@import "mixins.sass"

$lightbrown: #c7b299
$brown: #998675
$darkbrown: #362f2d

body
    font-family: 'Montserrat', sans-serif
    font-size: 16px
    color: #8c8c8c

h1,h2,h3
    font-family: 'Raleway', sans-serif

p
    line-height: 24px

img[src$=".svg"]
    &:hover
        filter: invert(.5) sepia(1) hue-rotate(-15deg)

img
    max-width: 100%
    max-height: 100%
    object-fit: cover
    object-position: center

button
    background-color: $brown
    color: #fff
    border-radius: 3px 3px 0 0
    font-family: 'Raleway', sans-serif
    font-size: 14px
    font-weight: 700
    position: relative
    &::after
        content: ''
        display: block
        width: 100%
        height: 3px
        border-radius: 0 0 3px 3px
        background-color: #736357
        position: absolute
        bottom: -3px
        left: 0

.intro
    text-align: center
    width: 65%
    margin: 0 auto
    h2
        font-size: 30px
        font-weight: 600
        color: #555
    p
        margin: 22px 0 32px 0

//HEADER>>>

.header
    padding-bottom: 18vw
    background: url("../images/intro.jpg") center / cover fixed no-repeat
    color: #fff
    position: relative
    .navbar
        padding-top: 40px
        &-logo

        &-menu
            &__link
                font-family: 'Montserrat', sans-serif
                font-size: 14px
        &-options
            &__menu
                height: 20px
                width: 22px
                position: relative
                display: none
                cursor: pointer
                span, &::before, &::after
                    content: ""
                    display: block
                    height: 2px
                    width: 100%
                    position: absolute
                    left: 0
                    background-color: #fff
                span
                    top: 50%
                    transform: translateY(-50%)
                &::before
                    top: 0
                &::after
                    bottom: 0
            &__cart
            &__search

    &-content
        margin-top: calc(10% + 7.5vw)
        text-align: center
        position: relative
        h2
            font-size: calc(16px + 10 * (100vw/1180))
        h1
            font-size: calc(24px + 14 * (100vw/1180))
            font-weight: 800
        p
            font-weight: 300
            margin: 15px 0 2vw 0
        button
            padding: 16px 36px
    &-arrows
        &__left, &__right
            position: absolute
            top: 50%
            transform: translateY(-50%)
        &__left
            left: 8vw
        &__right
            right: 8vw
    &-dots
        position: absolute
        bottom: 4%
        left: 50%
        transform: translateX(-50%)
        &__item
            width: 11px
            height: 11px
            background-color: rgba(255, 255, 255, 0.5)
            display: inline-block
            border-radius: 50%
            margin: 0 5px

//SERVICE>>>

.service
    padding: 80px 0 110px
    &-item
        position: relative
        &:hover
            h3
                color: $lightbrown
            &::after
                background-color: $lightbrown
            img
                filter: invert(.5) sepia(1) hue-rotate(-15deg)
        &::after
            content: ''
            display: block
            width: 70px
            height: 3px
            background-color: rgba(153, 134, 117, 0.3)
            position: absolute
            bottom: -24px
            left: 50%
            transform: translate(-50%)
        &__icon
            height: 50px
            display: flex
            justify-content: center
            align-items: flex-end
        h3
            font-size: 22px
            font-weight: 600
            color: #555
            margin: 25px 0 12px 0
        p
            font-size: 14px

//PORTFOLIO>>>

.portfolio
    background-color: #fbfaf8
    padding-top: 80px
    &-pictures
        position: relative
        min-height: 505px
        max-height: 100%
        img
            position: absolute
            bottom: 0
            z-index: 0
            @include tablets
                position: relative
                margin: 0 auto 20px
            &:first-child
                left: 50%
                transform: translateX(-50%)
                z-index: 1
                @include tablets
                    left: 0
                    transform: translateX(0)
            &:nth-child(2)
                left: 0
            &:last-child
                right: 0

//PURCHASE>>>

.purchase
    background: linear-gradient(to right, #211b19 0%, #4e3427 100%)
    padding: 50px 0 36px 0
    .container
        display: flex
        justify-content: space-between
        align-items: center
        h2
            color: #fff
            font-size: 26px
            span
                color: $lightbrown
        button
            padding: 16px 36px

//PROJECT>>>

.project
    padding: 80px 0
    &-filter
        margin: 0 auto
        display: flex
        justify-content: center
        flex-wrap: wrap
        &__item
            padding: 10px 25px
            padding: 1% 3.2%
            font-family: 'Montserrat', sans-serif
            font-weight: 400
            background-color: white
            color: #8c8c8c
            border: 1px solid #ebebeb
            border-radius: 5px
            margin: 0 5px 8px
            &::after
                display: none
            &:hover
                background-color: $brown
                color: #fff
    &-content
        &__item
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 25px
            position: relative
            &::before, &::after
                display: none
            &:hover
                img
                    filter: brightness(50%)
                .project-content__theme
                    background-color: $darkbrown
                .project-content__theme::before
                    border-bottom-color: $darkbrown
                &::before, &::after
                    content: ''
                    display: block
                    width: 25px
                    height: 25px
                    position: absolute
                    top: 30%
                    z-index: 1
                    cursor: pointer
                &::before
                    left: 38%
                    background: url("../images/link.svg") center / cover
                &::after
                    left: 53%
                    background: url("../images/lupa.svg") center / cover
        &__theme
            background-color: #fbfaf8
            width: 100%
            max-width: 370px
            padding: 10px
            padding: 8% 0 4% 8%
            position: relative
            h4
                font-size: calc(10px + 5 * (100vw/1200))
                font-weight: 500
                color: $lightbrown
            p
                color: #d1d1d1
            &::before
                content: ''
                height: 10px
                width: 30px
                border-top: 0px solid transparent
                border-bottom: 10px solid #fbfaf8
                border-left: 15px solid transparent
                border-right: 15px solid transparent
                display: block
                position: absolute
                top: -10px
                left: 20px
    &-button
        padding: 18px 40px 15px
        font-size: 15px

//VIDEO>>>

.video
    color: #fff
    width: 100%
    max-width: 1920px
    .row
        position: relative
        video
            padding: 0
    &-text
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        img
            margin-bottom: 42px
            cursor: pointer
        h2
            font-size: 30px
            font-weight: 500
        p
            font-weight: 300
            max-width: 560px
            margin: 22px 0 32px 0
            &:last-child
                font-size: 14px
                font-weight: 700
                color: $lightbrown
                margin-bottom: 0

//MOBILE>>>

.mobile
    padding-top: 40px
    &-img
        float: left
    &-content
        margin-top: 10%
        h2
            font-size: 30px
            font-weight: 600
            color: #555
        &__text
            margin: 20px 0 30px 0
            font-weight: 400
    &-points
        padding-left: 7%
        &__item
            img
                margin-right: 10px
            p
                margin-bottom: 7px

//STAT>>>

.stat
    background: linear-gradient(to right, #211b19 0%, #4e3427 100%)
    padding: 60px 0 85px 0
    &-main
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        flex-wrap: wrap
        max-width: 1000px
        margin: 0 auto
        &__item
            flex: 0 0 20%
            h1
                font-size: 48px
                color: #fff
                font-family: 'Montserrat', sans-serif
                font-weight: 300
                margin-top: 20px
            p
                color: $lightbrown
                font-size: 14px
                position: relative
                &::after
                    content: ''
                    display: block
                    width: 30px
                    height: 2px
                    background-color: #fff
                    position: absolute
                    bottom: -30px
                    left: 50%
                    transform: translateX(-50%)
